@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Rent your favorite movie.</h1>
    <p>Start browsing and/or searching for your favorite movie.</p>
    <div class="bgimg">
        <img src="https://i.pinimg.com/originals/aa/d8/bc/aad8bc299262fba39f6c7e104f272a65.jpg" width="750" style="border-radius: 10px 100px / 120px;" />
    </div>
</div>
